.ForgotPasswordMainContainer {
  margin: -8px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-grey);
}

.ForgotPasswordImage {
  width: 70px;
  height: 70px;
}

.ForgotPasswordCardContainer {
  width: 25%;
  z-index: 1;
  max-width: 550px;
  margin-top: 24px;
  border-radius: 10px;
  padding: 10px 24px 24px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px var(--grey);
}

.ForgotPasswordFormContainer {
  margin-top: 50px;
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .ForgotPasswordCardContainer {
    width: 35%;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .ForgotPasswordCardContainer {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .ForgotPasswordCardContainer {
    width: 70%;
  }
}
