.WelcomeMainContainer {
  margin: -8px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins-Bold";
  background-color: var(--light);
}

.WelcomeLogo {
  width: 150px;
  height: 150px;
}

.WelcomeHeading {
  text-align: center;
  margin: 5px 0px 0px;
}

.WelcomeButtonContainer {
  display: flex;
  margin: 30px 0px 0px;
}

.WelcomeLoginButton {
  border: none;
  height: 50px;
  font-size: 16px;
  padding: 0px 20px;
  margin-right: 20px;
  border-radius: 10px;
  color: var(--secondary);
  font-family: "Poppins-SemiBold";
  background-color: var(--primary);
}

.WelcomeJoinButton {
  border: none;
  height: 50px;
  font-size: 16px;
  padding: 0px 20px;
  border-radius: 10px;
  color: var(--primary);
  font-family: "Poppins-SemiBold";
  background-color: var(--light-grey);
}
